body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2e2e2e; /* Dark grey background */
    color: white; /* Ensure text is readable on dark background */
}

nav {
    background-color: #0069E4; /* Dark blue navigation header */
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav ul li a:hover, nav ul li a.active {
    background-color: #111; /* Darker color for hover and active states */
}

#content {
    padding: 20px;
    text-align: center;
}
